{% extends "plain.html" %}
{% load humanize %}
{% load static %}
{% block title %}
    {{ block.super }} - Visualization
{% endblock %}

{% block head %}
    <!-- HiGlass CSS
    <link rel="stylesheet" type="text/css" href="TODO">
    -->
  <!-- HiGlass JS-->
  <script src="{% static "js/higlass/higlass.js" %}"></script>
  <script type="text/javascript">
    window.djangoApp = {
      tornadoServerPort: '{{ TORNADO_SERVER_PORT }}'
    };
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles/page.css">
{% endblock %}

{% block content %}

    <div id="higlass-component" style="width: 400px;"></div>

    <script type="text/javascript">

            var uuids = {{ higlass_uuids|safe }};

            var tracks = uuids.map(function(uuid){
                return {
                  api_source: '//' + document.location.hostname + ':' +
                  window.djangoApp.tornadoServerPort + '/tilesets/multi/render/',
                  tileset_uuid: uuid,
                  type: 'heatmap',
                  height: 300
                }});

                var rectangularOneWindow =
                    {"views":
                        [
                          {
                            "chromInfoPath": "//s3.amazonaws.com/pkerp/data/hg19/chromInfo.txt",
                            "domain": [
                              0,
                              3000000000
                            ],
                            "viewStyle": {
                              "float": "left",
                              "padding": "5px",
                              "width": "100%"
                            },
                            "tracks": tracks
                          }
                        ],
                        "editable": true
                    };

                higlass.HiGlassContainer('higlass-component', JSON.stringify(rectangularOneWindow));

    </script>

{% endblock %}